<router-outlet></router-outlet>
<!--/.Card content-->

<!-- <h2 class="bg-dark text-white p-3 text-center">
  <i class="fas fa-space-shuttle"></i>
  Designer Maravilhoso
  <i class="fas fa-user-astronaut"></i>
  </h2>
  <p class="bg-warning p-1 text-center" style="margin-top: -10px">
  Java com Angular</p>
  <div class="col-md-8 offset-md-2">
  <h4 class="text-center">Lista de Clientes</h4>

  <ul class="list-
  group shadow wow animated slideInLeft">
  <li class="list-group-item">

  </li>
  </ul>
  </div> -->

<!-- <div class="md-form">
  <mdb-icon fas icon='user-astronaut'
  class="prefix text-primary"></mdb-icon>
  <input type="text" name="nome"mdbInput
  class="form-control" title="Digite seu nome">
  <label>Nome</label>
  </div> -->
