<div class="card card-cascade shadow wow animated zoomIn">
  <!--Card image-->
  <div class="view view-cascade d-flex justify-content-center">
    <img
      src="https://randomuser.me/api/portraits/men/{{ funcionario.id }}.jpg"
      class="d-flex justify-content-center"
      alt=""
    />
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
  <!--/.Card image-->

  <!--Card content-->
  <div class="card-body card-body-cascade text-center">
    <!--Title-->
    <h4 class="card-title">
      <i class="far fa-thumbs-up" aria-hidden="true"></i
      ><strong>{{ funcionario.nome }}</strong>
    </h4>
    <h5>Web developer</h5>

    <p class="card-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus,
      ex, recusandae. Facere modi sunt, quod quibusdam.
    </p>

    <!--Facebook-->
    <ul class="list-inline py-2">
      <li class="list-inline-item">
        <a class="p-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>
      </li>
      <li class="list-inline-item">
        <a class="p-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
      </li>
      <li class="list-inline-item">
        <a class="p-2 fa-lg gplus-ic"><i class="fab fa-google-plus-g"></i></a>
      </li>
      <li class="list-inline-item">
        <a class="p-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
      </li>
    </ul>
  </div>
</div>
